.ma-border img{
    border: 2px white solid;
    border-radius: 16px;
}

.whyus-card{
    padding: 16px;
    margin-bottom: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 4px;
    box-shadow: 2px 2px 10px white;
}



.image-container {
    display: inline-block;
    
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.25s ease;
    z-index: 1000;
}

.image-container:hover img {
    transform: scale(1.12);
}

