body {
    background-image: url("/images/bg-icons.png");
    background-attachment: fixed;
}

.text-shadow {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.chooseCard{
    height: 6.2em;
    display:block;
    text-decoration: none;
}

.chooseCard.disabled{
    filter: grayscale(1);
}

.cosik{
    color: white;
    border-radius: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.disablePointer{
    cursor: not-allowed;
}


.row {
   margin-right: 0 !important;
   margin-left: 0 !important;
}



@media only screen and (max-width: 576px) {
    
    .header-img{
        margin: 10px;
        width: 90%;
        height: auto;
    }
    .header-text{
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
    }
    .header-text p{
        font-size: 28px;
    }
    nav ul li a {
        padding: 8px;
        font-size: 16px;
    }
    .container {
        padding:0px !important;
    }


}
