/* TUTOR CARDS*/

.inputError{
    color: rgb(255, 127, 127);
}

.tutorcard{
    margin-bottom: 16px; 
    padding: 10px;
    margin-right: 0;
}

.card {
    color: black;
    height: 100%;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 18px;
    /*border: solid white 8px !important;*/
}


.card img {
    height: auto !important;
    /*border: solid #000 1px !important;*/
    border-radius: 8px;
    width: 7em;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.card p{
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    padding-right: 8px !important;
}
.card-name{
    margin-top: -8px;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    text-align: left !important;
    margin-bottom: 0;
}
.badge-container{
    text-align: left !important;
    line-height: 1.6;
    margin-bottom: 4px;
}

.badge {
    vertical-align: middle;
    font-size: 12px;
}
.badge-matematyka {
    background-color: #0078ed !important;
}
.badge-all {
    background-color: #0078ed !important;
}
.badge-angielski {
    background-color: #37ae0f !important;
}
.badge-polski {
    background-color: #ffbf00 !important;
}
.badge-chemia {
    background-color: #e30b5c !important;
}


.badge-online {
    background-color: rgb(167, 167, 167) !important;
}
.badge-stacjonarne {
    background-color: #0078ed !important;
}
.badge-8 {
    background-color: #0078ed !important;
}
.badge-m {
    background-color: #0078ed !important;
}

.rezerw-button {
    position:absolute !important; 
    right: -1px !important; 
    bottom: -1px !important; 
    border-radius: 16px 0 16px 0 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    box-shadow: 0px 1px 10px rgba(0,120,237, 0.5) !important;
    background-color: rgba(0,120,237, 1) !important;
    transition: 0.2s;
}
.rezerw-button:hover {
    text-shadow: 0 0 2px white;
    transition: 0.2s;

}
.rezerw-button .disable {
    background-color: rgb(82, 82, 82) !important;
}






